# Google Cloud OAuth2 Credentials
# Get these from: https://console.cloud.google.com/apis/credentials
GMAIL_CLIENT_ID=your_client_id.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=GOCSPX-your_client_secret
